{% extends "base.html" %}

{% block content %}
<div class="flex items-center justify-center overflow-y-auto">
    <div class="max-w-4xl w-full mx-auto text-center px-4 mt-8">
        <h1 class="text-3xl sm:text-4xl lg:text-6xl">
            Find Philippines Zip Codes
        </h1>
        <div
            class="grid grid-cols-3 gap-3 sm:gap-4 lg:gap-6 max-w-lg mx-auto mt-8"
            id="categories">
            <a href="/regions"
                class="p-3 sm:p-4 flex flex-col items-center rounded-xl shadow-sm hover:shadow-lg border">
                <img src="/static/icons/island-duotone.svg"
                    class="w-5 h-5 sm:w-6 sm:h-6 mb-2 sm:mb-3 opacity-80"
                    alt="Regions">
                <span
                    class="text-slate-600 font-light tracking-wide">Regions</span>
            </a>
            <a href="/provinces"
                class="p-3 sm:p-4 flex flex-col items-center rounded-xl shadow-sm hover:shadow-lg border">
                <img src="/static/icons/map-trifold-duotone.svg"
                    class="w-5 h-5 sm:w-6 sm:h-6 mb-2 sm:mb-3 opacity-80"
                    alt="Provinces">
                <span
                    class="text-slate-600 font-light tracking-wide">Provinces</span>
            </a>
            <a href="/municipalities"
                class="p-3 sm:p-4 flex flex-col items-center rounded-xl shadow-sm hover:shadow-lg border">
                <img src="/static/icons/city-duotone.svg"
                    class="w-5 h-5 sm:w-6 sm:h-6 mb-2 sm:mb-3 opacity-80"
                    alt="Cities">
                <span
                    class="text-slate-600 font-light tracking-wide">Cities</span>
            </a>
        </div>

        <div class="search-container max-w-4xl mx-auto mt-8">
            {% include "components/search.html" %}
        </div>

        <div class="mt-8 p-3 max-w-xl mx-auto">
            <div class="flex items-start gap-2">
                <img src="/static/icons/lightbulb-light.svg"
                    class="w-4 h-4 mt-0.5 opacity-70" alt="Tip">
                <div class="text-left">
                    <h3 class="text-xs">Quick Tip</h3>
                    <p class="mt-1 text-xs text-slate-600 font-light italic">
                        Try searching by city name, municipality, or directly
                        enter a zip code (e.g. 4117) to find
                        locations.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}