{% extends "base.html" %}

{% block title %}Provinces - Philippine Zipcodes{% endblock %}

{% block content %}
<div class="text-center max-w-6xl mx-auto" id="provinces-page">
    <h2
        class="text-xl sm:text-2xl lg:text-3xl font-medium mb-4">
        Philippine Provinces
    </h2>
    <p class="max-w-2xl mx-auto font-light text-lg mb-4">
        Discover all provinces across the Philippine archipelago
    </p>
    <!-- Mobile scrollable pills -->
    <div
        class="sm:hidden overflow-x-auto whitespace-nowrap py-2 scrollbar-hide mb-3 -mx-4 px-4">
        <div class="inline-flex space-x-2">
            <button
                class="px-4 py-2 rounded-full bg-gray-100 text-gray-700 font-light whitespace-nowrap"
                hx-get="/provinces/search" hx-target="#provinces-grid"
                hx-include="[name='q']">
                All Regions
            </button>
            {% for region in regions %}
            <button
                class="px-4 py-2 rounded-full bg-gray-100 hover:bg-purple-100 text-gray-700 hover:text-purple-700 font-light whitespace-nowrap"
                hx-get="/provinces/search" hx-target="#provinces-grid"
                hx-include="[name='q']"
                hx-vals='{"region": "{{ region }}"}'>
                {{ region }}
            </button>
            {% endfor %}
        </div>
    </div>
    <!-- Desktop search and select -->
    <div
        class="flex flex-col sm:flex-row justify-center items-center gap-2">
        <div class="relative w-full sm:w-96 lg:w-[32rem]"
            id="search-container">
            <div
                class="absolute inset-y-0 left-0 pl-4 flex items-center pointer-events-none">
                <img src="/static/icons/magnifying-glass-light.svg"
                    class="h-5 w-5" alt="Search" />
            </div>
            <input name="q" placeholder="Enter province name..."
                class="w-full pl-10 pr-16 py-3 font-light rounded-2xl border shadow-lg focus:outline-none focus:ring-4 ring-gray-300"
                hx-get="/provinces/search"
                hx-trigger="keyup changed delay:300ms"
                hx-target="#provinces-grid"
                hx-include="[name='province']">
            <button
                class="absolute inset-y-0 right-0 pr-4 flex items-center cursor-pointer"
                id="clear-search"
                onclick="clearSearch(this)">
                <img src="/static/icons/backspace-light.svg"
                    class="h-5 w-5 opacity-75" alt="Clear" />
            </button>
        </div>
        <div class="hidden sm:block relative w-full sm:w-auto"
            id="select-container">
            <select
                class="appearance-none px-6 py-3 font-light rounded-2xl border shadow-lg focus:outline-none focus:ring-4 ring-gray-300"
                name="region" hx-trigger="change" hx-get="/provinces/search"
                hx-target="#provinces-grid"
                hx-include="[name='q']">
                <option value>All Regions</option>
                {% for region in regions %}
                <option value="{{ region }}" {% if region==selected_region
                    %}selected{% endif %}>
                    {{ region }}
                </option>
                {% endfor %}
            </select>
            <div
                class="absolute inset-y-0 right-0 pr-5 flex items-center pointer-events-none">
                <img src="/static/icons/caret-down-light.svg"
                    class="h-6 w-6 opacity-70" alt="Select" />
            </div>
        </div>
    </div>
    <div id="provinces-grid" class="mt-4">
        {% include "components/provinces_grid.html" %}
    </div>
</div>

<script>
    function clearSearch(button) {
        const input = button.parentElement.querySelector('input');
        input.value = '';
        htmx.trigger(input, 'keyup');
        document.querySelector('select[name=region]').value = '';
        htmx.trigger('select[name=region]', 'change');
    }

    window.onload = function () {
        const urlParams = new URLSearchParams(window.location.search);
        const region = urlParams.get('region');
        if (region) {
            const select = document.querySelector('select[name=region]');
            select.value = decodeURIComponent(region);
            htmx.trigger(select, 'change');
        }
    }
</script>
{% endblock %}