<nav aria-label="Breadcrumb" class="container mx-auto px-4 py-2">
    <ol class="flex items-center space-x-2 text-sm font-light">
        {% if breadcrumb %}
        <li class="flex items-center">
            <svg class="w-4 h-4 text-slate-400" fill="none"
                stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="2" d="M9 5l7 7-7 7"></path>
            </svg>
            <span class="text-slate-900 ml-2">{{ breadcrumb }}</span>
        </li>
        {% endif %}
    </ol>
</nav>
