<header role="banner" class="sticky top-0 z-50">
    <nav
        class="nav-gradient px-4 sm:px-6 lg:px-8 py-5 shadow-lg relative overflow-hidden">
        <div class="container mx-auto relative">
            <div class="max-w-7xl mx-auto flex justify-between items-center">
                <a href="/" class="flex items-center">
                    <img src="/static/icons/philippines.svg"
                        class="w-8 h-8 sm:w-10 sm:h-10 lg:w-12 lg:h-12"
                        alt="Philippines">
                    <span class="text-white sm:text-xl font-light">PH
                        Zipcodes</span>
                </a>
                <div>
                    <a href="/contact"
                        class="text-white inline-flex items-center px-5 py-2.5 text-sm font-light hover:text-sky-100 transition-colors">
                        Contact
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>
